target
.classpath
.project
.settings
.vertx
node_modules
src/main/resources/webroot/bundle.css
src/main/resources/webroot/bundle.js
src/test/resources/ThumbnailGeneratorFFmpegTest.webm
dependency-reduced-pom.xml

